.panel, .panel-default {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.panel-body {
	padding: 0;
    background: @light-gray;
}

.accordion-heading {
	padding: 10px;
    a {
        font: 16px sans-serif;
        width: 80%;
        margin-left: 10%;
        margin-top: 18px;
        display: table;
        white-space: nowrap;
        &:before,
        &:after {
            border-top: 1px dashed @brand-primary;
            content: '';
            display: table-cell;
            position: relative;
            top: 0.5em;
            width: 40%;
        }
        &:before {
            right: 3%;
        }
        &:after {
            left: 3%;
        }
    }
}
