.annotation-form {
	margin: 5px 10px 10px 10px;
	textarea {
		min-height: 150px;
		border: 0;
		resize: none;
	}
}

.annotation-container {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	a {
		color: @brand-primary;
	}
}

.annotation-list {
	background: @light-gray;
	padding: 10px;
}

.annotation-item {
    margin:0;
    min-height: 200px;
    background: #fff;
    padding: 20px;
    margin-top:10px;
    .vote-container {
        padding-top: 0;
    }
}

.annotation-left {
    display: flex;
    flex-direction: row;
}

.annotation-content {
	min-height: 130px;
}

.annotation-utility {
	border-top: 3px solid @light-gray;
	padding-top: 15px;
	height: 50px;
}

.part {
    display: inline;
}

.removed {
    color: red;
    text-decoration: line-through;
}

.added {
    font-weight: 700;
}