 .comment-box {
    border-top:1px dotted #bbb;
    padding:10px;
}

.comment-list, .annotation-list {
    padding:0;
    list-style:none;
    overflow:auto;
    p {
        font-family: @font-family-sans-serif;
    }
}
.comment-item, {
    margin:0;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    .comment-content {
        width: 85%;
    }
    .vote-container {
        padding-top: 0;
    }
}

.comment-content, .annotation-content {
    width: 100%;
}

.comment-picture {
    width:30px;
    margin-top: -5px;
    margin-right:20px;
    height:100%;
    float:left;
}
.comment-picture img {
    width:100%;
    border-radius:50%;
}
.comment-meta p, .annotation-meta p {
    font-size: 12px;
    margin:0;
    line-height: 0.5;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.comment-text, .annotation-text {
    display: block;
    font-size: 14px;
    padding: 15px 0 10px 5px;
    p {
        margin: 0;
    }
}

.comment-form {
    margin-bottom: 100px;
}