.subnav {
    background: @light-gray;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.feed-container {
    padding-bottom: 50px;
}

.full-height {
	height: 100%;
}

.full-height-wheader {
	height: 100%;
	margin-top: -@navbar-height;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center {
    margin: 0 auto;
}

.vh-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container {
    width: 100%;
    height: 10%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}
