.feed-container {
    width: 100%;
    padding: 0;
}

.feed-list {
    ul {
        list-style: none;
        padding: 0;
    }
    padding: 0;
}

.feed-item {
    border-bottom: 1px dotted #bbb;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: norap;
    align-item: flex-start;
    position: relative;
    &:hover {
        background: #F7F7FA;
        -webkit-transition: all 100ms ease;
        -moz-transition: all 100ms ease;
        -ms-transition: all 100ms ease;
        -o-transition: all 100ms ease;
        transition: all 100ms ease;
    }
    .feed-item-title {
        font-size: 20px;
        font-color: darken(@brand-primary, 90.5%);
        font-weight: 500;
        padding-right: 80px;
    }
    .feed-item-author {
        color: @gray-dark;
        padding-bottom: 7px;
    }
    .feed-item-author-picture {
        position: absolute;
        width: 10%;
        right: 20px;
        top: 30px;
        img {
            height: 32px;
            border-radius: 50%;
        }
    }
    .feed-item-summary {
        color: #999;
        width: 90%;
    }
    p {
        margin: 0;
    }
    .feed-item-meta {
        flex: 1;
        width: 85%;
        span {
            display: block;
        }
    }
}

.vote-container {
    width: 15%;
    min-width: 80px;
    color: #000;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    .vote-button {
        height: 65px;
        width: 65px;
        .vote-icon {
            margin: 0 auto;
        }
        .heart {
            position: relative;
            width: 20px;
            height: 20px;
        }
        .heart:before,
        .heart:after {
            position: absolute;
            content: "";
            left: 10px;
            top: 0;
            width: 10px;
            height: 16px;
            background: #000;
            &.already-voted {
                background: #fff;
            }
            -moz-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }
        .heart:after {
            left: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        .triangle {
            width: 0;
            height: 0;
            margin: 0 auto;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 14px solid black;
        }
        &.already-voted {
            color: @upvoted;
            border-radius: 50%;
            .triangle {
                border-bottom: 14px solid @upvoted;
            }
        }
        .vote-count {
            padding-top: 5px;
            display: block;
            margin: 2px 0 0;
        }
    }
}
