body {
  overflow-x: hidden;
  position: relative;

}
html {
	margin: 0;
	padding: 0;

}

html, body, #react-root {
	height: 100%;
	width: 100%;
}


.navbar {
	margin: 0;
}

.navbar-brand {
	padding-top: 15px;
}

#navbar-image {
	height: 35px;
}

p {
	font-family: @font-family-serif;
    letter-spacing: .01rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin-bottom: 30px;
}

.feed-item {
	p {
		font-family: @font-family-sans-serif;
	}
}

.medium-input {
	pre {
		background: #fff;
		min-height: 400px;
	}
}

.btn {
	border: 0;
}