.menu-inactive {
    display: block;
    >div {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        right: -100%;
        .transition (opacity 300ms ease-in-out);
        &.visible.right {
            right: 0;
            opacity: 0.2;
            cursor:pointer;
            .transition (opacity 300ms ease-in-out);
        }
        >ul {
            list-style-type: none;
            >li a.menu-item {
                float: left;
                width: 100%;
                margin: 0;
                padding: 10px 15px;
                border-bottom: solid 1px #555;
                cursor: pointer;
                color: #fff;
                &:hover {
                    color: #F0F0F0;
                }
            }
        }
    }
}

.menu {
    display: block;
    @menu-width: 250px;
    >div {
        position: absolute;
        z-index: 3;
        top: 0;
        width: @menu-width;
        height: 100%;
        .transition(-webkittransform ease 250ms);
        .transition(transform ease 250ms);
        &.right {
            background: @brand-primary;
            right: @menu-width*-1;
        }
        &.visible.right {
            transform: translate3d(@menu-width*-1, 0, 0);
            position: fixed;
        }
        >ul {
            list-style-type: none;
            >li a.menu-item {
                float: left;
                width: 100%;
                margin: 0;
                padding: 10px 15px;
                border-bottom: solid 1px #555;
                cursor: pointer;
                color: #fff;
                &:hover {
                    color: #F0F0F0;
                }
            }
        }
    }
}
