@media only screen and (max-width: 480px) {
    h1 {
       	font-size: @font-size-h1-xs;
    }

    h2 {
       	font-size: @font-size-h2-xs;
    }

    h3 {
       	font-size: @font-size-h3-xs;
    }

    h4 {
       	font-size: @font-size-h4-xs;
    }

    h5 {
       	font-size: @font-size-h5-xs;
    }

    h6 {
       	font-size: @font-size-h6-xs;
    }

}