.post-header {
    /*
    background: @dark-gray;
    color: #fff;
    p {
        font-family: @font-family-sans-serif
    }
    */
}

.part {
    display: inline;
}

.red {
    color: red;
    text-decoration: line-through;
}

.green {
    color: green;
}
.post-summary {
	font-size: @font-size-h4;
	font-style: italic;;
}

.post-body {
    padding-top: 60px;
    p {
        font-size: 22px;
        line-height: 33px;
    }
}
